name: GitHub Metrics (Half-Year Calendar)

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          user: mayur2410-tech
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          filename: metrics-isocalendar.svg
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
